.center {

    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 4;
    height: 310px;
    margin: 20px auto;
    width: 200px;

    text-align: center;
    }
    .center2{      
        text-align:center;
    }
    .led{
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 4;
        height: 150px;
        margin: 20px auto;
        width: 200px;
    }